.NavLocal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    color: #000;
    font-size: 1.1em;
}